{% extends "base.html" %}

{% block content %}

{% if movie.cover %}
    <p> <img src="{{travel.cover.url}}" width="300", height="auto">
{% else %}
    <p> <img src="https://dummyimage.com/200x300/000/fff&text=NO+IMAGE" width="300", height="auto">
{% endif %}
</p>

<p><b>Name :</b> {{travels.name}}</p>
<p><b>Country :</b> {{travels.country}}</p>
<p><b>City :</b> {{travels.city}}</p>
<p><b>Duration in days :</b> {{travels.duration}}</p>
<p><b>Description :</b> {{travels.description}}</p>
<p><b>Language of the tour guide :</b> {{travels.language}}</p>





<p>
{% for s in movie.stars.all %}
    {{ s }}
{% endfor %}
</p>

<p>{{movie.language}}</p>

{% if perms.viewer.change_movie %}
    <p><a href="{% url 'update_movie' movie.id %}">Update the Movie</a></p>
{% endif %}

{% if perms.viewer.delete_movie %}
    <p><a href="{% url 'delete_movie' movie.id %}">Delete the Movie</a></p>
{% endif %}


{% endblock %}