{% extends "base.html" %}

{% block content %}

<!--
{% if perms.viewer.add_travels %}
  <a href="{% url 'create_travels' %}">Add a new travel destination.</a>
  <a href="{% url 'update_travels' 1 %}">Update a travel destination.</a>
  <a href="{% url 'delete_travels' 2 %}">Delete a destination.</a>
{% endif %}
-->


<hr>


<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">

{% for travel in travels %}

  <div class="col mb-4">

    <div class="card" style="width: 300;">

      {% if travels.cover %}
        <img src="{{travel.cover.url}}" width="300" height="auto">
      {% else %}
        <img src="https://dummyimage.com/200x300/000/fff&text=NO+IMAGE" width="300" height="auto">
      {% endif %}

      <div class="card-body">

        <h5 class="card-title"><a href="{% url 'travel_details' travel.id%}"> {{travels.name}} </a></h5>
      </div>
    </div>

  </div>

{% endfor %}

</div>

{% endblock %}