{% extends "base.html" %}

{% block content %}

{% if travel.cover %}
    <p> <img src="{{travel.cover.url}}" width="300", height="auto">
{% else %}
    <p> <img src="https://dummyimage.com/600x400/771782/fdfcff&text=One+day+there+is+definately+going+to+be+an+image+here!" width="300", height="auto">
{% endif %}
</p>

<p><b>Name :</b> {{travel.name}}</p>
<p><b>Country :</b> {{travel.country}}</p>
<p><b>City :</b> {{travel.city}}</p>
<p><b>Duration in days :</b> {{travel.duration_in_days}}</p>
<p><b>Description :</b> {{travel.description}}</p>
<p><b>Language of the tour guide :</b> {{travel.guide_language}}</p>




<!--
<p>
{% for s in travel.all %}
    {{ s }}
{% endfor %}
</p>
-->



{% if perms.viewer.update_travels %}
    <p><a href="{% url 'update_travels' 1 %}">Update this Travel destination</a></p>
{% endif %}

{% if perms.viewer.delete_travels %}
    <p><a href="{% url 'delete_travels' 2 %}">Delete this Travel destination</a></p>
{% endif %}


{% endblock %}