{% extends "base.html" %}

{% block content %}

{% if travel.cover %}
    <p> <img src="{{travel.cover.url}}" width="300", height="auto">
{% else %}
    <p> <img src="https://dummyimage.com/200x300/000/fff&text=NO+IMAGE" width="300", height="auto">
{% endif %}
</p>

<p><b>Name :</b> {{travels.name}}</p>
<p><b>Country :</b> {{travels.country}}</p>
<p><b>City :</b> {{travels.city}}</p>
<p><b>Duration in days :</b> {{travels.duration}}</p>
<p><b>Description :</b> {{travels.description}}</p>
<p><b>Language of the tour guide :</b> {{travels.language}}</p>





<p>
{% for s in travels.wadever.all %}
    {{ s }}
{% endfor %}
</p>

<p>{{travels.language}}</p>

{% if perms.viewer.update_travels %}
    <p><a href="{% url 'update_travels' travel.id %}">Update this Travel destination</a></p>
{% endif %}

{% if perms.viewer.delete_travels %}
    <p><a href="{% url 'delete_travels' travel.id %}">Delete this Travel destination</a></p>
{% endif %}


{% endblock %}