{% extends "base.html" %}

{% block content %}

<hr>


<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">

{% for travel in travels %}

  <div class="col mb-4">

    <div class="card" style="width: 300;">

      {% if travel.cover %}
        <img src="{{travel.cover.url}}" width="300" height="auto">
      {% else %}
        <img src="https://dummyimage.com/600x400/771782/fdfcff&text=One+day+there+is+definately+going+to+be+an+image+here!" width="300" height="auto">
      {% endif %}

      <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted"><i class="bi bi-star-fill"></i> {{travel.duration_in_days}} day(s)</h6>
        <h5 class="card-title"><a href="{% url 'travel_details' travel.id%}"> {{travel.name}} </a></h5>
      </div>
    </div>

  </div>

{% endfor %}

</div>

{% endblock %}